---
layout: default
title: Qui suis-je ?
---
<div class="lc-me">
    <div class="lc-me__right">
        <h2 class="lc-title lc-title--2">
            Mon parcours
        </h2>
        <p>
M'intéressant au domaine du web depuis mon plus jeune âge, ce n'est qu'une fois
mon <strong>diplôme d'ingénieur en informatique</strong> (<a href="http://telecomnancy.univ-lorraine.fr/">TELECOM Nancy</a>)
en poche que je décide de poursuivre dans cette voie.
        </p>
        <p>
Après avoir fini mon stage de fin d'étude à l'<strong>INRIA</strong> afin de découvrir le monde de la recherche,
je choisis avec envie le monde de l'entreprise et part chez <strong><a href="http://marmelab.com">Marmelab</a></strong> à Nancy.
J'ai eu l'opportunité de travailler pour des entreprises telles que
<strong>Canal+</strong>, <strong>Axa</strong>, <strong>La Fourchette</strong> ainsi que d'autres
grands comptes ou startups.
        </p>
        <p>
Aujourd'hui sur Besançon, j'ai décidé de lancer mon activité de freelance afin de proposer des prestations
de qualité aussi bien en Franche-Comté qu'ailleurs en France.
        </p>
        <p>
Je m'applique à proposer des applications répondant à la fois au besoin du client et aux standards du marché
tout en apportant une érgonomie réfléchie pour proposer l'expérience la plus naturelle à l'utilisateur. Tous
mes développements s'accompagnent d'une batterie de tests automatisés permettant d'aborder les évolutions futures
et la correction de bugs sereinement. Les régressions étant ainsi immédiatement repérées et corrigées le cas échéant.
        </p>
        <h2 class="lc-title lc-title--2">
            Mes centres d'intérêts
        </h2>
        <p>
Je pratique la <strong>course à pied</strong>. Après 3 années de course sur route et plusieurs <strong>marathons</strong>
et semi-marathons, mon arrivée à Besançon m'a permis de me lancer dans le <strong>trail</strong>, la course à pied en montagne.
Cette discipline passionnante m'aide à m'épanouir et à repousser mes limites.
        </p>
        <p>
Je m'intéresse également à la photographie (mon <a href="https://500px.com/rflexit">500px</a> et
mon <a href="https://www.flickr.com/photos/rflexit/">Flickr</a>). Enfin je joue de la
guitare et du piano à mes heures perdues.
        </p>
    </div>
    <div class="lc-me__left lc-animation--slide-in">
        {% include gravatar.html %}

        <h1 class="lc-title lc-title--1">
            <span class="brand-orange">Robin</span> <span class="brand-yellow">Bressan</span>
        </h1>

        <ul class="list-unstyled">
            <li class="list-item">
                {% include badge-github.html %}
            </li>
            <li class="list-item">
                {% include badge-twitter.html %}
            </li>
        </ul>
        <div class="lc-me__left__contact">
            {% include button-contact.html %}
        </div>
    </div>
</div>
