---
layout: default
---

<article class="lc-post">
    <h1 class="lc-title lc-title--1">
        {{ page.title }}
    </h1>
    {% assign post=page %}
    {% include post-cover.html %}
    <div class="lc-title__content">
        {{content}}
    </div>
    <div class="lc-post__credit">
        {% if page.author %}
        Written by {{ page.author }}
        {% endif %}
        {% if page.cover_source %}
        <br />
        Thanks to <a href="{{ page.cover_source }}">{{ page.cover_author }}</a> for this cover
        {% endif %}
    </div>
    <div class="lc-post__disqus" id="disqus_thread"></div>
    <script>
        var disqus_config = function () {
            this.page.identifier = '{{ page.id }}';
        };

        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = '//lecomtoisduweb.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    {% include work-ribbon.html %}
</article>
